.success-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  color: #270;
  background-color: #dff2bf;
}

.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  color: #c30000;
  background-color: #fbb8b8;
}
